<div class="about-page">
    <div>
        <h2>About Me</h2>
        <p>
            I've been exploring, breaking, sometimes even fixing every tech product I own since 2001! 
            Love backend programming and self-hosting services like <a href="https://jellyfin.org/">Jellyfin</a> and <a href="https://docs.craftycontrol.com/">Crafty4</a> Minecraft servers on my homelab! 
        </p>
        <p>
            I enjoy going to the gym and playing batminton with a team of friends! During my free time I play video games like Rocket League, Minecraft, and Trackmania.
            I read books on all sorts of topics, from Black holes to civil engineering, Harry Potter to The Last Dragon Chronicles and everything inbetween.
        </p>
        <p>
            Only thing I don't like are people who don't trust animals.
        </p>
    </div>
    <div>
        <img src="../images/Screenshot_Snapchat_EDIT.webp" alt="Headshot of Jacob Chotenovsky">
    </div>
</div>