<div class="main-wrapper" id="home">
    <main>
        <section id="projects">
            <div class="projects-title">
                <h2>Projects</h2>
            </div>
            <div class="projects-container">
                <div class="cards card-one">
                    <div>
                    <div class="img-container">
                        <img class="imgs" src="../images/discordBot.webp" alt="Python 3 Discord Bot Image">
                    </div>
                    <div class="card-text-container">
                        <a href="https://discord.com/api/oauth2/authorize?client_id=1139345339749519470&permissions=8&scope=bot">Discord Bot</a>
                        <p>Bring Jacob's code right into your personal chats! Highlights: User Counting, Logging.</p>
                        <div>
                            <small>Python 3</small>
                            <small>10/08/2023</small>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="cards card-two">
                    <div>
                    <div class="img-container">
                        <img class="imgs" src="../images/arduinoFinal.webp" alt="Arduino Final Project Image">
                    </div>
                    <div class="card-text-container">
                        <a href="https://www.tinkercad.com/things/hXrms7YWrq9?sharecode=JmU5A02GBl9YFcz-WnpxIeG7UOy7xjUlpltfIasncbQ">Arduino Project</a>
                        <p>This bright lightshow can be IR controlled and repeat strings of text across its display!</p>
                        <div>
                            <small>Arduino</small>
                            <small>19/04/2023</small>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="cards card-three">
                    <div>
                    <div class="img-container">
                        <img class="imgs" src="../images/bankingSafe.webp" alt="Bank Managment Program Image">
                    </div>
                    <div class="card-text-container">
                        <a href="https://github.com/JayCBreak/COMP1008/tree/main/COMP1008/src/assignment2">Bank Manager</a>
                        <p>A simple account manager and bank location tracker.</p>
                        <div>
                            <small>Java</small>
                            <small>25/04/2023</small>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="cards card-four">
                    <div>
                    <div class="img-container">
                        <img class="imgs" src="../images/wizardGame.webp" alt="Wizard Game for Final Project Image">
                    </div>
                    <div class="card-text-container">
                        <a href="https://github.com/JayCBreak/FinalProject">Wizard Game</a>
                        <p>Fun multiplayer platformer. Self-hosting is the only way!</p>
                        <div>
                            <small>Python 3</small>
                            <small>25/04/2019</small>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="cards card-five">
                    <div>
                    <div class="img-container">
                        <img class="imgs" src="../images/calcApp.webp" alt="Android Calculator App Image">
                    </div>
                    <div class="card-text-container">
                        <a href="https://github.com/JayCBreak/COMP3025-Assignment1">Android Calculator</a>
                        <p>Easy, simple to use calculator for android!</p>
                        <div>
                            <small>Kotlin</small>
                            <small>14/06/2024</small>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="cards card-six">
                    <div>
                    <div class="img-container">
                        <img class="imgs" src="../images/pokemonDB.webp" alt="Pokemon Database Java Program Image">
                    </div>
                    <div class="card-text-container">
                        <a href="https://github.com/JayCBreak/St200545482Assignment2">Pokemon Database</a>
                        <p>Quick and well designed front end to a database of all pokemon information!</p>
                        <div>
                            <small>Java</small>
                            <small>29/09/2023</small>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>