:root {
  --background: #cecece;
  --accent: #429826;
}

html, body {
  background-color: var(--background);
  height: 100%;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

a {
  color: #0e74d3;
}

header {
  width: 100%;
}

.navbar {
  background-color: var(--accent);
  padding: 1.5rem 5rem;
}

main {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex: 1;
  padding: 2em;
}

/* Login/Register Styling */
form fieldset {
  margin-bottom: 1em;
}

/* Mobs Page Styling */
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5em 5% 10em;
}

.actions-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 1em;
}

.add-mob-btn {
  padding: 0.5em 2em;
}

/* Add and Edit Page Styling */
fieldset {
  display: flex;
}

input[type="text"],
input[type="number"],
textarea {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  flex-grow: 1;
  width: calc(100% - 160px);
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 150px;
  resize: vertical;
}

/* Table Styling */
table {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5em;
}

th {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.8em;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #fff;
}

/* Ensure images don't get too large */
td img {
  max-width: 8em;
  height: auto;
  max-height: 10em;
  display: block;
  margin: 0 auto;
}

th, td {
  min-width: 5em;
}

tbody tr {
  margin-bottom: 1em;
}

.btn-block {
  width: 100%;
}

footer {
  width: 100%;
  background-color: var(--accent);
  text-align: center;
  padding: 5em 5em;
  position: relative;
  bottom: 0;
}

footer p {
  margin: 0;
}